<section class="card">
  <a routerLink="/list" class="back">
    <img class="back__icon" src="../../../assets/icons/arrow-back.svg" alt="arrow">
    <span class="back__text">Вернуться</span>
  </a>
  <h1 class="card__title">fadfff</h1>
  <div class="card__info">
    <div class="card__item">
      <span class="card__item-label">Тип</span>
      <span class="card__item-value">adf</span>
    </div>

    <div class="card__item">
      <span class="card__item-label">Порт</span>
      <span class="card__item-value">afsaf</span>
    </div>

    <div class="card__item">
      <span class="card__item-label">Вес</span>
      <span class="card__item-value">adff</span>
    </div>

    <div class="card__item">
      <span class="card__item-label">Год</span>
      <span class="card__item-value">sadfaf</span>
    </div>
  </div>
  <h4 class="card__subtitle">fadfff</h4>
  <p class="card__text">
    SES-9, CRS-8, Thaicom 8, ABS-2A / Eutelsat 117W B, JCSAT-16, SES-10, BulgariaSat-1, SES-11 / Echostar 105, KoreaSat 5A, Falcon Heavy Test Flight, TESS, Bangabandhu-1, Telstar 19V, Merah Putih, Telstar 18V, Es’hail 2, Nusantara Satu (PSN-6) / S5 / Beresheet, CCtCap Demo Mission 1, ArabSat 6A, CRS-17, Starlink v0.9, STP-2, Starlink 1, JCSat 18 / Kacific 1, Starlink 2, Starlink 3, Starlink 4, Starlink 5
  </p>
</section>
