<div class="filter">
  <h2 class="filter__title">Фильтры</h2>
  <form [formGroup]="filterForm">
    <input class="filter__name" type="text" placeholder="Название" [formControlName]="'name'" (input)="changeName($event)">
    <input class="filter__port" type="text" placeholder="Название">

    <div class="filter__type">
      <h3 class="filter__type-title">Тип</h3>

      <ng-container>
        <div class="filter__type-item type-item">
          <input class="type-item__button" type="radio" name="type" value="">
          <span class="type-item__text" >ф</span>
        </div>
      </ng-container>
    </div>
  </form>
</div>
