<div class="filter">
  <h2 class="filter__title">Фильтры</h2>
  <form [formGroup]="filterForm">
    <input class="filter__name" type="text" placeholder="Название" [formControlName]="'name'">

    <div class="filter__port">
      <p>Порт</p>
      <p>Выбраны 0</p>
      <div *ngFor="let port of ports">
        <input type="checkbox" name="port" [formControlName]="'port'">
        <span>{{port}}</span>
      </div>
    </div>

    <div class="filter__type">
      <h3 class="filter__type-title">Тип</h3>
      <ng-container>
        <div *ngFor="let type of types" class="filter__type-item type-item">
          <input class="type-item__button" type="radio" name="type" [formControlName]="'type'" [value]="type">
          <span class="type-item__text" >{{type}}</span>
        </div>
      </ng-container>
    </div>
  </form>
</div>
