<div class="filter">
  <h2 class="filter__title">Фильтры</h2>
  <form [formGroup]="filterForm">
    <div class="filter__name">
      <span class="filter__name-label" [class.small] = "smallLabel">Название</span>
      <input class="filter__name-input" type="text" [formControlName]="'name'" (input)="changeName()">
    </div>

    <div
      class="filter__port active"
      [class.active] = "disablePorts"
      (click)="togglePort()"
    >
      <p class="filter__port-label">Порт</p>
      <p class="filter__port-text">Выбраны {{selectedPorts.length}}</p>
    </div>
    <div
      class="filter__port-block"
      [class.disactive] = "!disablePorts"
    >
      <div class="filter__port-item port-item" *ngFor="let port of ports">
        <input class="port-item__checkbox" type="checkbox" name="port" (click)="clickPort(port)">
        <span  class="port-item__text">{{port}}</span>
      </div>
    </div>

    <div class="filter__type">
      <h3 class="filter__type-title">Тип</h3>
      <ng-container>
        <div *ngFor="let type of types" class="filter__type-item type-item">
          <input class="type-item__button" type="radio" name="type" [formControlName]="'type'" [value]="type" (change)="changeType(type)">
          <span class="type-item__text" >{{type}}</span>
        </div>
      </ng-container>
    </div>
  </form>
</div>
